body {
  background-color: bisque;
}
h1 {
  text-align: center;
}
.round-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}
.image-container {
  display: flex;
  justify-content: flex-end;
}
.list-container {
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
}
