body {
  background-color: rgb(233, 213, 194);
}
section {
  background-color: rgb(119, 124, 109);
  border-style: ridge;
}
.title-class {
  color: rgb(134, 12, 12);
  text-align: center;
}
.nav-class {
  text-align: center;
}
.image-class {
  text-align: center;
}
